<div id="jeniusProperty">
	<a href="http://localhost:7474/webadmin/#/data/search/{{jp.node_id}}/" target="_blank">
		<span class="glyphicon glyphicon-cog"></span></a>
	<div ng-if="jp.data_type=='text' && jp.has_multiple_values===false">
		<input class="form-control" 
		type="text" 
		ng-model="jp.changed_value"
		ng-change="" >
	</div>

	<div ng-if="jp.data_type=='text' && jp.has_multiple_values===true">
		<select ng-model="jp.changed_value" ng-options="value for value in jp.select_options">
			<option>--select value--</option>
		</select>
	</div>

	<div ng-if="jp.data_type=='number'">
		<input class="form-control" 
		type="number" 
		ng-model="jp.changed_value"
		ng-change="">
	</div>

	<div ng-if="jp.data_type=='text-array'">
		<textarea class="form-control" 
		ng-model="jp.changed_value" 
		rows="3"
		ng-change="jp.changed_value=jp.changed_value.split(',')"
		></textarea>
	</div>

	<span ng-if="jp.data_type=='boolean'">
		<label class="radio-inline">
			<input
			type="radio" 
			ng-model="jp.changed_value"
			ng-value="true">True
		</label>

		<label class="radio-inline">
			<input 
			type="radio" 
			ng-model="jp.changed_value"
			ng-value="false">False
		</label>

		<label class="radio-inline">
			<input
			type="radio" 
			ng-model="jp.changed_value"
			ng-value="'null'">Unknown
		</label>
	</span>

	<div ng-if="jp.data_type=='textarea' && jp.has_multiple_values===false">
		<textarea rows="3" ng-model="jp.changed_value" class="form-control"></textarea>
	</div>


</div>