
<form action="" method="POST" role="form">
	<legend>Schema Node Form</legend>

	<div class="form-group">
		<label for="">Label Name</label>
		<input type="text" ng-model="labelName" class="form-control" id="" placeholder="Input field">
	</div>
		<div class="form-group">
		<label for="">Node Type Description</label>
		<textarea type="text" ng-model="description" class="form-control" rows="5"></textarea>


	</div>
	

	<button ng-click="submitSchemaNode()" class="btn btn-primary">Submit</button>
</form>


