<form name="schemaNodeForm" id="jeniusList" novalidate>
	    <div class="input-group">
	    <span class="input-group-btn">
	        <button class="btn btn-default" type="button" ng-click="refreshList()"><span class="glyphicon glyphicon-refresh"></span></button>
	      </span>
	      <select class="form-control" ng-model="jeniusList.selectedNode" ng-options="node.nodeName for node in jeniusList.nodeList" required>
	      	<option value="">--- select node ---</option>
	      </select>
	    </div><!-- /input-group -->
</form>